@font-face {
	font-family: cursed_timer;
	src: url(cursed_timer.ttf);
}

* {
	margin: 0;
}

body {
	font-family: cursed_timer;
	background-color: #1b244a;
}

.container {
	margin-top: 68px;
	display: flex;
	justify-content: space-around;
}

.subcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subcontainer-h2 {
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

.subcontainer-blackbox {
	background-color: #080001;
	text-align: center;
	color: #f94f6d;
	font-size: 150px;
	margin: 21px 0 25px 0;
	padding: 10px;
}

.btn-group {
	padding: 20px;
}

.btn {
	border: 2px solid #9aabd8;
	color: #9aabd8;
	font-family: cursed_timer;
	background-color: #1b244a;
	font-size: 25px;
}

#btn-reset {
	font-size: xx-large;
	margin-top: 20px;
	color: red;
}
